{% extends 'base.html.twig' %}

{% block title %}MY CVS{% endblock %}

{% block body %}
    <h1  ALIGN="CENTER">MY CVS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Description</th>
                <th> name</th>
                <th>Adresse</th>
                <th>Phone</th>
                <th>category</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.id }}</td>
                <td>{{ cv.photo }}</td>
                <td>{{ cv.description }}</td>
                <td>{{ cv.name }}</td>
                <td>{{ cv.adresse }}</td>
                <td>{{ cv.phone }}</td>
                <td>{{ cv.categoryType.category }}</td>


                <td>
                    <a href="{{ path('cv_show', {'id': cv.id}) }}">show</a>
                    <a href="{{ path('cv_edit', {'id': cv.id}) }}">edit</a>
                    <a href="{{ path('cv_delete', {'id': cv.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="68">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a  href="{{ path('CvByName') }}"><button type="submit"  >sort by name</button></a>


    <div align="center"> <a  href="{{ path('cv_new') }}"><button type="submit" class="btn btn-primary btn-md" >add</button></a></div>

{% endblock %}
