{% extends 'basebackadmin.html.twig' %}


{% block content %}

{% endblock %}


{% block body %}
<!--=================================
inner banner -->
<div class="header-inner bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-primary">Manage The Events</h2>
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="evenementsociete">Home</a></li>
                    <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Events</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--=================================
inner banner -->

    <!--=================================
    Manage Candidates -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box table-responsive pb-4 mb-0">
                        <div class="row mb-4">
                            <div class="col-md-7 col-sm-5 d-flex align-items-center">
                                <div class="section-title-02 mb-0 ">
                                    <h4 class="mb-0">Manage Events</h4>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                                <div class="search">
                                    <i class="fas fa-search"></i>
                                    <input type="text" class="form-control" placeholder="Search....">
                                </div>
                            </div>
                        </div>
                        <table class="table manage-candidates-top mb-0">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th class="text-center">Type</th>
                                <th class="action text-right">Action</th>
                            </tr>
                            {% for e in evenement %}
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="images/{{ e.picture }}" alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h5 class="mb-0"><a href="#">{{ e.title }}</a></h5>
                                            </div>
                                            <div class="candidate-list-option">
                                                <ul class="list-unstyled">
                                                    <li><i class="fas fa-map-marker-alt pr-1"></i>{{ e.localitation }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">{{ e.type }}</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                        <li><a href="{{ path('gestiondesparticipant',{'id':e.id})}}" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="{{ path('adminevenement',{'id':e.id})}}" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Manage Candidates -->
{% endblock %}