<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: powderblue;
        }
        h1 {
            color: blue;
            font-family: verdana;
            font-size: 150%;
            padding-left: 10px;

        }
        h2 {
            color: red;
            font-family: verdana;
            font-size: 300%;
            padding-left: 220px;

        }
        p {
            color: red;
            font-family: courier;
            font-size: 100%;
            padding-left: 20px;
        }
        a {
            padding-left: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>


<h2>Hand Clasp</h2>
<br>
<br>
<br>
<br><br>
<br>
<h1>Event Name : {{ evenement.title }}</h1>
<br>
<br>
<p>Localisation : {{ evenement.localitation }}</p>
<br>
<br>
<p>Type :{{ evenement.type }}</p>
<br>
<br>
<p>Description :{{ evenement.description }}</p>
<br>
<br>
<p>Viwed par :{{ evenement.viewed }}</p>
<br>
<br><br>
<br><br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<hr>
<a>You Can Find Us On Facebook : https://www.facebook.com/hand.calsp</a>
<br>
<a>You Can Find Us On Instagram : https://www.instagram.com/hand_clasp</a>
<hr>

</body>
</html>


