{% extends 'basebackadmin.html.twig' %}



{% block body %}
    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">Manage The Events</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="evenementsociete">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Events</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
<!--=================================
Manage Events -->
    <hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box mb-0">
                    <div class="row mb-4">
                        <div class="col-md-7 col-sm-5 d-flex align-items-center">
                            <div class="section-title-02 mb-0 ">
                                <h4 class="mb-0">Manage Events</h4>
                            </div>

                        </div>

                    </div>
                    <div class="section-title-02 mb-0 ">
                        <a class="btn btn-primary btn-block" href="{{ path('addevent')}}">Add Event</a>
                    </div>
                    <hr>
                    <div class="section-title-02 mb-0 ">
                        <a class="btn btn-primary btn-block" href="{{ path('sortbytitleasc')}}">Sort By Title ASC</a>
                    </div>
                    <br>
                    <div class="section-title-02 mb-0 ">
                        <a class="btn btn-primary btn-block" href="{{ path('sortbytitledesc')}}">Sort By Title DESC</a>
                    </div>
                    <hr>
                    <div class="user-dashboard-table table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-light">
                            <tr >
                                <th scope="col">Events</th>
                                <th scope="col">Type</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in evenement %}
                            <tr>
                                <th scope="row">{{ e.title }}
                                    <p class="mb-1 mt-2">{{ e.dateAt|date('Y-m-d H:i:s') }}</p>
                                    <p class="mb-0">{{ e.localitation }}</p>
                                </th>
                                <td>{{ e.type }}</td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li><a href="{{ path('gestiondesparticipantsoc',{'id':e.id})}}" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="{{ path('updateevent',{'id':e.id})}}" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                        <li><a href="{{ path('socdeleteevenement',{'id':e.id})}}" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Manage Events -->
{% endblock %}

