 {% extends 'base.html.twig' %}
{% block body %}

    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">Update Event</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="evenementsociete">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Update Event</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="Job-detail" role="tabpanel" aria-labelledby="Job-detail-tab">
            <section class="space-ptb">
                <div class="container">
                    {{ form_start(form) }}
                    {{ form_row(form.title,{ 'attr':{ 'placeholder':"Event Title",'class':"form-control"}}) }}
                    {{ form_row(form.type,{ 'attr':{ 'placeholder':"Type",'class':"form-control"}}) }}
                    {{ form_row(form.description,{ 'attr':{ 'placeholder':"Event Title",'class':"form-control"}}) }}
                    {{ form_row(form.dateAt,{ 'attr':{ 'class':"form-control input-group date"}}) }}

                    <hr>
                    {{ form_row(form.localitation,{ 'attr':{ 'placeholder':"Localisation",'class':"form-control"}}) }}
                    {{ form_row(form.id_societe,{ 'attr':{ 'placeholder':"idsoc",'class':"form-control"}}) }}
                    <hr>
                    {{ form_row(form.my_picture,{ 'attr':{ 'class':"upload-file"}}) }}
                    <hr>
                    {{ form_row(form.Update,{ 'attr':{ 'class':"btn btn-primary"}}) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}