{% extends 'base.html.twig' %}



{% block body %}
    <h1>Surfer</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ surfer.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ surfer.name }}</td>
        </tr>
        <tr>
            <th>First_name</th>
            <td>{{ surfer.firstName }}</td>
        </tr>
        <tr>
            <th>Cin</th>
            <td>{{ surfer.cin }}</td>
        </tr>
        <tr>
            <th>Email Adress</th>
            <td>{{ surfer.emailadress }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ surfer.password }}</td>
        </tr>
        {% for r in r %}
            <tr>
                <th>Meet</th>
                <td>{{ r.meet }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ r.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ r.description }}</td>
            </tr>
        {% endfor %}

        </tr>
        </tbody>
    </table>


{% endblock %}
