{% extends 'basebackadmin.html.twig' %}


{% block content %}

{% endblock %}


{% block body %}

    <!--=================================
inner banner -->
    <div  class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">offre gere par admin </h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>offre</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
    <!--=================================
    Manage Events -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box mb-0">
                        <div class="row mb-4">
                            <div class="col-md-7 col-sm-5 d-flex align-items-center">
                                <div class="section-title-02 mb-0 ">
                                    <a class="btn btn-primary btn-block" href="{{ path('afficheCategorieOffer')}}">Consulter</a>
                                    <a class="btn btn-primary btn-block" href="{{ path('typeoffre')}}">Add type</a>
                                    <a class="btn btn-primary btn-block" href="{{ path('notificationoffre')}}">Notification</a>
                                    <a class="btn btn-primary btn-block" href="{{ path('offre_pdf') }}">Exporter PDF</a>
                                    <a class="btn btn-primary btn-block" href="{{path('sta')}}">Statistique offre</a>



                                </div>
                            </div>
                            <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                                <div class="search">
                                    <i class="fas fa-search"></i>
                                    <input id="search" type="text" class="form-control" placeholder="Search....">
                                </div>
                            </div>
                        </div>
                        <div class="user-dashboard-table table-responsive">
                            <table class="table table-bordered">
                                <thead class="bg-light">
                                <tr >
                                    <th scope="col">ID </th>
                                    <th scope="col">Localisation</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Specialite</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody id="all">
                                {% for e in offre %}
                                    <tr>
                                        <td>{{ e.id  }}</td>
                                        <td>{{ e.localisation  }}</td>
                                        <td>{{ e.description  }}</td>
                                        <td>{{ e.specialite  }}</td>
                                        <td>
                                            <ul class="list-unstyled mb-0 d-flex">
                                                <li><a href="{{ path('updateoffreadmin',{'id':e.id})}}" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                                <li><a href="{{ path('deleteoffreadmin',{'id':e.id})}}" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tbody id="search">

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    offre gere par la societe  -->

{% endblock %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#search").keyup(function(e){
            var value = $(this).val();
            $.ajax({
                url : "{{ path('rechercheoffre') }}",
                data: {
                    'searchValue' : value
                },
                type: "POST",
                success : function(response)
                {
                    if(response){

                        $(' tbody#search').empty();

                        $.each(response, function(index, value) {
                            $('tbody#search').append(

                                '<tbody >'+
                                '<tr >'+
                                '<td><div class="blog-post-title">'+
                                '<p class="mb-0">'+value.id +'</p>'+
                                '</td></div>'+
                                '<td>'+
                                '<td><div class="blog-post-title">'+
                                '<p class="mb-0">'+value.description       +'</p>'+
                                '</td></div>'+
                                '<td>'+
                                '<td><div class="blog-post-title">'+
                                '<p class="mb-0">'+value.specialite+'</p>'+
                                '</td></div>'+
                                '<td>'+

                                '<div class="blog-post-description">'+
                                '<a href="updateoffreadmin'+'             '+value.id+'">Update</a>'+
                                '</div>'+
                                '<div class="blog-post-description">'+
                                '<a href="deleteoffreadmin'+value.id+'">Delete</a>'+
                                '</div>'+
                                '</td>'+
                                '</tr>'+
                                '</tbody>'







                            );
                        });
                        $('tbody#all').hide();
                    }else
                    {
                        $('tbody#all').show();
                        $('tbody#search').empty();
                        $('tbody#search').fadeIn('fast');
                    }


                }


            });

        });




    </script>
{% endblock %}

