{% extends 'base.html.twig' %}
{% block body %}

    <section >
        <div class="fill" >
            <div class="container">
                <div class="job-search-field job-search-field-02 search-under-banner">
                    <div class="job-search-item">
                        <form class="form-row basic-select-wrapper">
                            <div class="form-group col-lg col-md-6" style="background-image:url('{{asset('images/bg-slider/formation.jpg')}}" >
                                <div class="form-group-search" style="background-image:url('{{asset('images\bg-slider\03.jpg')}}')">
                                    <label>search formation...</label>
                                    <div class="d-flex align-items-center"><input class="form-control" type="search" placeholder="search formation..."></div>
                                </div>
                            </div>

                            <div class="form-group col-lg-2 col-md-4">
                                <div class="mt-0">
                                    <button class="btn btn-primary align-items-center" type="submit"><i class="fas fa-search mr-1"></i>Find Formations</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="fill" >



        <h1 align="center">formations list </h1>
        <table  align="center">
            <tr>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>DATE</th>
                <th>LOCALISATION</th>
            </tr>
            {% for I in formations %}
                <tr>
                    <td> {{ I.title }}</td>
                    <td> {{ I.description }}</td>
                    <td> {{ I.dateAt|date('Y-m-d H:i:s') }}</td>
                    <td> {{ I.localisation }}</td>
                    <td><img class="img-fluid" src="images/{{ I.imagef }}" alt=""></td>
                    <td><a class="btn btn-success" value="inscription" href="{{ path('participantf',{'id' : I.id }) }}">inscription</a></td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js %}
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/select2/select2.full.js"></script>
    <script src="js/datetimepicker/moment.min.js"></script>
    <script src="js/datetimepicker/datetimepicker.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

{% endblock %}