 <h4 align="center"> list formations </h4>
    <table border="2">
        <thead>
        <tr>
            <th> image </th>
            <th> title </th>
            <th> description </th>
            <th> date </th>
            <th> localisation </th>
        </tr>

        </thead>
        <tbody>
        {% for I in formation %}
        <tr>
            <td> <img class="img-fluid" src="images/laravel.png"></td>
            <td> {{ I.title }} </td>
            <td>  {{ I.description }} </td>
            <td>  {{ I.dateAt|date('Y-m-d H:i:s') }} </td>
            <td>   {{ I.localisation }} </td>


        </tr>
        {% endfor %}
        </tbody>




    </table>
    <a class="btn btn-primary" value="download" href="{{ path('printformation') }}"><i class="fa fa-print"></i></a>


