{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>les reclamations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Motif</th>
                <th>gsm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.message }}</td>
                <td>{{ reclamation.motif }}</td>
                <td>{{ reclamation.gsm }}</td>
                <td>
                    <button ><a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}">delete</a>
                    </button>
                    <button>
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center"><a  href="{{ path('reclamation_new') }}">Create new</a></div>
{% endblock %}
