<h1>WE WILL CONTACT U AS SOON AS POSSIBLE</h1>
ID :{{ reclamation.id}} <br>
REASON :{{ reclamation.motif}} <br>
MESSAGE :{{ reclamation.message}} <br>
GSM :{{ reclamation.GSM}} <br>
DATE :{{ reclamation.createdAt|date('Y-m-d H:i:s')}} <br>
COMPANY :{{ reclamation.company.name_company}} <br>


