{% extends 'basebackadmin.html.twig' %}

{% block title %}complaints{% endblock %}

{% block body %}
    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary"> complaints</h2>

                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th> <a  href="{{ path('adminreclamation_trier') }}"><button type="submit"  >Id</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparmotif') }}"><button type="submit"  >reason</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparmessage') }}"><button type="submit"  >message</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierpargsm') }}"><button type="submit"  >gsm</button></a></th>

            <!--<th>actions</th> -->
        </tr>
        </thead>
        <tbody>
        {% for result in result %}
            <tr>
                <td><b>{{ result.id }}</b></td>
                <td>{{ result.motif }}</td>
                <td>{{ result.message }}</td>
                <td>{{ result.gsm }}</td>
               <td>
                    <button ><a href=" {{ path('adminreclamation_delete', {'id': result.id}) }}">delete</a>
                    </button>
                  <!--   <button>
                        <a href="{#{{ path('reclamation_edit', {'id': result.id}) }} #}">edit</a>
                    </button>
                </td>-->
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center"> <a  href="{{ path('adminreclamation_new') }}"><button type="submit" class="btn btn-primary btn-md" >add</button></a></div>
{% endblock %}
