{% extends 'basebackadmin.html.twig' %}

{% block title %}complaints{% endblock %}

{% block body %}
    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary"> complaints</h2>

                </div>
            </div>
        </div>
    </div>
    <!--<div align="left"> <a  href="{{ path('reclamation_trier') }}"><button type="submit" class="btn btn-primary btn-md" >trier</button></a></div> -->
    <table class="table">
        <thead>
        <tr>
            <th> <a  href="{{ path('adminreclamation_trier') }}"><button type="submit"  >Id</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparmotif') }}"><button type="submit"  >reason</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparmessage') }}"><button type="submit"  >message</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierpargsm') }}"><button type="submit"  >gsm</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparDate') }}"><button type="submit"  >created at</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparCompany') }}"><button type="submit"  >company</button></a></th>
            <th> <a  href="{{ path('adminreclamation_trierparStatus') }}"><button type="submit"  >status</button></a></th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><b>{{ reclamation.id }}</b></td>
                <td>{{ reclamation.motif }}</td>
                <td>{{ reclamation.message }}</td>
                <td>{{ reclamation.gsm }}</td>
                <td>{{ reclamation.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ reclamation.company.name_company }}</td>
                <td>{% if reclamation.status==false %}
                        <p> in progress<i class="fas fa-sync-alt"></i> </p>
                    {% else %}
                        <p> studied<i class="fas fa-check"></i></p>
                    {% endif %}
                </td>
                <td>
                    <button ><a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}">delete</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center"> <a  href="{{ path('reclamation_new') }}"><button type="submit" class="btn btn-primary btn-md" >add</button></a></div>
{% endblock %}
