{% extends 'basebackadmin.html.twig' %}



{% block body %}
    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">Manage The companies</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Companies </span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
    <!--=================================
    Manage Events -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box mb-0">
                        <div class="row mb-4">
                            <div class="col-md-7 col-sm-5 d-flex align-items-center">
                                <div class="section-title-02 mb-0 ">
                                    <h4 class="mb-0">Manage companies</h4>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                                <div class="search">
                                    <i class="fas fa-search"></i>
                                    <input type="text" class="form-control" placeholder="Search....">
                                </div>
                            </div>
                        </div>
                        <div class="user-dashboard-table table-responsive">
                            <table class="table table-bordered">
                                <thead class="bg-light">
                                <tr >
                                    <th scope="col">Id company</th>
                                    <th scope="col">Name company</th>
                                    <th scope="col">description</th>
                                    <th scope="col">number of the tax of the registration</th>
                                    <th scope="col">localisation</th>
                                    <th scope="col">number</th>
                                    <th scope="col">logo</th>
                                    <th scope="col">Email Adress</th>
                                    <th scope="col">Password</th>


                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for c in company %}
                                    <tr>
                                        <td>{{ c.id}}</td>
                                        <td>{{c.name_company}}</td>
                                        <td>{{ c.description}}</td>
                                        <td>{{ c.tax_registration_number}}</td>
                                       <td>{{ c.localisation}}</td>
                                      <td>{{ c.numero}}</td>
                                        <td>{{ c.images}}</td>
                                        <td>{{ c.emailadresse}}</td>
                                        <td>{{ c.pass}}</td>
                                        <td>
                                            <ul class="list-unstyled mb-0 d-flex">
                                                <li><a href="{{ path('company_show',{'id':c.id})}}" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                                <li><a href="{{ path('companyeditm',{'id':c.id})}}" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>

                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <a class="btn btn-primary" href="{{ path('companym') }}">Create new</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Manage Events -->
{% endblock %}

