{% extends 'base.html.twig' %}



{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name_company</th>
                <td>{{ company.nameCompany }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>Tax registration number</th>
                <td>{{ company.taxRegistrationNumber }}</td>
            </tr>
            <tr>
                <th>location</th>
                <td>{{ company.localisation}}</td>
            </tr>
            <tr>
                <th>phone number</th>
                <td>{{ company.numero }}</td>
            </tr>
            <tr>
                <th>logo</th>
                <td>{{ company.images }}</td>
            </tr>
            <tr>
                <th>Email Adress</th>
                <td>{{ company.emailadresse }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ company.pass }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}


{% endblock %}