{% extends 'basebackadmin.html.twig' %}



{% block body %}
    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">Manage The companies</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Companies </span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
    <!--=================================
    Manage Events -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box mb-0">
                        <div class="row mb-4">
                            <div class="col-md-7 col-sm-5 d-flex align-items-center">
                                <div class="section-title-02 mb-0 ">
                                    <h4 class="mb-0">Manage companies</h4>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                                <div class="search">
                                    <i class="fas fa-search"></i>
                                    <input type="text" id="search" class="form-control" placeholder="Search....">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8" id="search"></div>
                        <div class="user-dashboard-table table-responsive " id="all">
                            <a href="{{ path('listu1') }}">Create pdf</a>
                            <table class="table table-bordered">
                                <thead class="bg-light">
                                <tr >
                                    <th scope="col">Id company</th>
                                    <th scope="col">Name company</th>
                                    <th scope="col">description</th>
                                    <th scope="col">number of the tax of the registration</th>
                                    <th scope="col">localisation</th>
                                    <th scope="col">number</th>
                                    <th scope="col">logo</th>
                                    <th scope="col">email adress</th>
                                    <th scope="col">Status</th>




                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for c in user %}
                                    {% if c.role =='company'%}
                                    <tr>
                                        <td>{{ c.id}}</td>

                                        <td>{{ c.Username}}</td>
                                        <td>{{ c.description}}</td>
                                       <td>{{ c.tax_registration_number}}</td>
                                      <td>{{ c.localisation}}</td>
                                        <td>{{ c.numero}}</td>
                                        <td>{{ c.images}}</td>
                                            <td>{{ c.emailadresse}}</td>
                                        <td>{{ c.role}}</td>
                                        <td>
                                            <ul class="list-unstyled mb-0 d-flex">
                                                <li><a href="{{ path('company_show',{'id':c.id})}}" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                                <li><a href="{{ path('companyeditm',{'id':c.id})}}" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                               <li> <form action="{{ path('pdfEvaluation',{'id':c.id,'Username':c.Username,'description':c.description,'localisation':c.localisation} )}}"><button class="btn btn-outline-primary">pdf</button></form></li>
                                            </ul>

                                        </td>


                                    </tr> {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                            <a class="btn btn-primary" href="{{ path('usera') }}">Create new</a>
                            <div class="section-title-02 mb-0 ">
                                <a class="btn btn-primary" href="{{ path('sortbytitleasc')}}">Sort By Title ASC</a>
                                <div class="section-title-02 mb-0 ">
                            </div>
                                <div class="section-title-02 mb-0 ">
                                    <a class="btn btn-primary" href="{{ path('sortByTitleDESC')}}">Sort By Title DESC</a>
                                    <div class="section-title-02 mb-0 ">
                                    </div>
                                    <div class="section-title-02 mb-0 ">
                                        <a class="btn btn-primary" href="{{ path('sortBystatusDESC')}}">Sort By Status ASC</a>
                                        <div class="section-title-02 mb-0 ">
                                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    <!--=================================
    Manage Events -->
{% endblock %}

{% block search %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#search").keyup(function(e){
            var value = $(this).val();
            $.ajax({
                url : "{{ path('searchecompany') }}",
                data: {
                    'searchValue' : value
                },
                type: "POST",
                success : function(response)
                {
                    if(response){

                        $(' div#search').empty();

                        $.each(response, function(index, value) {
                            $('div#search').append(


                                '<div class="blog-post-content">'+
                                '<div class="blog-post-details">'+

                                '<div class="blog-post-title">'+
                                '<p class="mb-0">'+value.nameCompany +'</p>'+
                                '</div>'+
                                '<div class="blog-post-description">'+
                                '<p class="mb-0">'+value.description +'</p>'+
                                '</div>'+

                                '</div>'+
                                '</div>'+
                                '</div>'
                            );
                        });
                        $('div#all').hide();
                    }else
                    {
                        $('div#all').show();
                        $('div#search').empty();
                        $('div#search').fadeIn('fast');
                    }


                }


            });

        });




    </script>
    </script>
{% endblock %}

