{% extends 'basebackadmin.html.twig' %}



{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Name_company</th>
            <td>{{ user.Username }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ user.description }}</td>
        </tr>
        <tr>
            <th>Tax registration number</th>
            <td>{{ user.taxRegistrationNumber }}</td>
        </tr>
        <tr>
            <th>location</th>
            <td>{{ user.localisation}}</td>
        </tr>
        <tr>
            <th>phone number</th>
            <td>{{ user.numero }}</td>
        </tr>
        <tr>
            <th>logo</th>
            <td>{{ user.images }}</td>
        </tr>
        <tr>
            <th>Email Adress</th>
            <td>{{ user.emailadresse }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('companyeditm', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}


{% endblock %}